@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
}

nav.header-container {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

img {
    height: 40px;
    width: auto;
}

.logo {
    margin-top: 18px;
}

nav.header-container ul {
    list-style: none;
    display: flex;
    font-weight: bold;
}

nav.header-container ul li {
    display: flex;
    padding: 0 18px;
    font-weight: bold;
}

nav.header-container ul li:hover {
    cursor: pointer;
    color: #1db954;
}

nav.header-container ul li:nth-child(3) {
    border-right: 0.6px solid white;
}

main {
    background-color: #F0FEFF;
    background-image: url('../imagens/showcase.webp');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container h2 {
    font-size: 9vw;
    max-width: 800px;
    font-weight: bold;
    text-align: center;
    line-height: 1.1em;
}

.main-container p {
    font-size: 1.1rem;
    padding: 25px 0px;
    font-weight: bold;
    line-height: 1.6em;
    max-width: 400px;
    text-align: center;
}

.button {
    background-color: #1DB954;
    color: black;
    border: 0;
    padding: 14px 32px;
    border-radius: 500px;
    margin: 0px 30px 30px 30px;
    font-weight: bolder;
    text-transform: uppercase;
    box-shadow: 2px 2px 7px black;
    transition: all 300ms ease;
    letter-spacing: 1px;
}

.button:hover {
    background-color: #1ED760;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    padding: 70px 0;
    height: 75%;
}

footer .footer-container {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
}

footer .footer-container .footer-menu {
    margin: 0 10px;
    list-style: none;
    padding: 40px 0;
    font-size: 1em;
}

footer .footer-container .footer-menu .footer-menu-item {
    margin: 20px 0;    
}

footer .footer-container .footer-menu .footer-menu-item:hover {
    color: #1db954;
    cursor: pointer;
}

footer .footer-container .footer-menu h2 {
    color: #919496;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bolder;
}

footer .footer-container .footer-sociais {
    display: flex;    
}

.footer-sociais i {
    margin: 0 15px;
    font-size: 1.6rem;  
    padding: 50px 5px;
    height: 10px;
}

.footer-sociais i:hover {
    cursor: pointer;
    color: #1db954;
}

footer .footer-infos {
    display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-weight: bold;
	color: #919496;
    margin-left: 80px;
    width: 92%;
}

footer .footer-infos ul {
    list-style: none;
    display: flex;
}

footer .footer-infos .footer-info-items {
    font-weight: bold;
    color: #919496;
    font-size: 0.8rem;
    margin: 0 10px;
}

footer .footer-infos .footer-info-items:hover {
    color: #1db954;
    cursor: pointer;
}

footer .footer-infos .direitos .pais {
    display: flex;
    margin-bottom: 5px;
    padding-left: 20px;
    justify-content: center;
    margin-right: 80px;
}

footer .footer-infos .direitos .pais > .bandeira {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
    justify-content: flex-end;
}

footer .footer-infos .direitos p {
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;    
}

footer .footer-infos .direitos p:hover {
    color: #1db954;
    cursor: pointer;
}

















